@use "styles/mixins" as *;

.panel {
  padding: var(--space-3);
  background: var(--color-surface-panel);
  color: var(--color-text-primary);
  font-family: var(--font-family-display);
  image-rendering: pixelated;

  @include border-with-pixel-corners;

  &[data-surface="raised"] {
    background: var(--color-surface-raised);
  }
}
