@font-face {
  font-family: Blinker;
  src:
    url("../fonts/Blinker-Regular.woff2") format("woff2"),
    url("../fonts/Blinker-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
